body{
    margin:auto;
}
/* header */
#header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    padding:10px;
    width:auto;
    background-color:#08485C;
    color:white;
}
/*----*/
/* main container about website(this website is awesome) */
#main-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color:#08485C;
    height:150px;
    width:auto;
    margin:0;
    padding:50px;
    font-family:tahoma;
    color:white;
}
.description{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.image-placeholder{
    height: 150px;
    width:400px;
    background-color:grey;
}
/*----*/
/*random information container*/
#random-information{
    display:block;
    height:400px;
    width:auto;
    /* border-top:5px solid #4C5C61;
    border-bottom:5px solid #4C5C61; */
    background-color:white;
}
h3{
    text-align: center;
    padding:20px;
    
}
.information-container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap:15px;
    align-items: center;   
}
.item{
    border: 3px solid #58C1E1;
    border-radius: 8px;
    height:120px;
    width:120px; 
    
}
.image-subtext{
    display:inline-block;
    

}
/*----*/
/* inspiring container */
#inspiring-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink:1;
    height:200px;
    width:auto;
    background-color:#f0f6fc;
    text-align:center;
    font-size:30px;
    font-family:tahoma;
    padding:26px;

}
/*----*/
/*sign up container*/
#sign-container{
    display:flex;
    align-content: center;
    height:200px;
    background-color:white;
    padding-left:20px;
    
}
.button{
    display:flex;
    justify-content: center;
    align-items:center;
    color:white;
    font-family:tahoma;
    background-color:#58C1E1;
    border:2px solid #58C1E1;
    border-radius:10px;
    height:30px;
    width:150px;
   
}
.sign-background{
    display:flex;
    flex-flow:row nowrap;
    align-items: center;
    align-content:center;
    justify-content:space-around;
    background-color:#4295C9;
    height:100px;
    width:900px;
    border-radius:10px;
    margin:auto;
}
.sign1,.sign2{
    color:white;
    font-family:tahoma;
    
}
.sign1{
    font-size:larger;
    font-weight:bold;
}
.sign2{
    font-size:small;
}
/*----*/
/*footer*/
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:auto;
    background-color:#08485C;
    color:white;
    margin:auto;
}
